* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0c0f12;
}
/* ---------------------------------------------Background----------------------- */
.first {
    width: 100vw;
    height: 100vh;
    background-image: url(assets/Bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.logo {
    width: 80px;
}
/* ---------------------------------------------navigation menu----------------------- */
nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100vw;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px soid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.32);

}

.nav-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-menu li a img {
    width: 40px;
    display: flex;
    margin-left: 30px;
}

.nav-menu li:hover a img{
    background: linear-gradient(135deg, rgba(255, 255, 255), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px soid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.32);
    transition: 0.3s;
}

.nav-menu li a span {
    display: none;
}

.nav-menu li a {
    text-decoration: none;
}

.nav-menu li:hover a span {
    display: block;
    color: white;

}

.one{
    margin-left: 29px;
}

.two{
    margin-left: 28px;
}

.three{
    margin-left: 15px;
}

.four{
    margin-left: 20px;
}
/* ---------------------------------------------Humburger----------------------- */
.burger1 {
    width: 40px;
    display: flex;
    margin-left: 30px;
    display: none;
}

.navigation.active .nav-menu {
    display: block;
}

.navigation.active .nav-menu li a img {
    display: block;
}

.navigation.active .burger1 {
    display: none;
}

.navigation.active .back {
    display: block;
}

.navigation.active .nav-menu li a img {
    margin-top: 10px;
}
/* ---------------------------------------------For Responsive Navigation-menu----------------------- */
@media (max-width:500px) {

    .burger1 {
        display: block;
    }

    .back {
        display: none;
    }

    .nav-menu li a img {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }

    .nav-menu {
        margin-right: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .logo {
        margin-left: 20px;
        margin-top: 10px;
    }

}
/* --------------------------------Header------------------------------------ */

.main-content {
    padding-top: 130px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}


.main-content h1 {
    width: 97vw;
    text-align: center;
    font-size: 65px;
    font-weight: bolder;
    color: white;
}

.main-content p {
    font-size: 50px;
    font-weight: bolder;
    color: white;
    width: 97vw;
    text-align: center;
}
/* --------------------------------buttons------------------------------------ */
.first-btn a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 35px;
}

.first-btn {
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    border: none;
    border-radius: 10px;
    margin-top: 8px;
    padding: 5px 15px;
}

.first-btn:hover {
    background:linear-gradient(270deg, #f38a3e, #ff4a6b);
} 
/* ---------------------------------------------For Responsive header----------------------- */
@media only screen and (max-width:1100px) {
    .main-content h1 {
        font-size: 50px;
        width: 80vw;
    }

    .main-content p {
        font-size: 50px;
        width: 80vw;
    }

}


@media only screen and (max-width:950px) {

    .main-content h1 {
        font-size: 60px;
        width: 80vw;
    }

    .main-content p {
        font-size: 45px;
        width: 80vw;
    }
}


@media only screen and (max-width:800px) {

    .main-content h1 {
        font-size: 50px;
        width: 80vw;
    }

    .main-content p {
        font-size: 40px;
        width: 80vw;
    }
}

@media only screen and (max-width:700px) {

    .main-content h1 {
        font-size: 45px;
        width: 80vw;
    }

    .main-content p {
        font-size: 35px;
        width: 80vw;
    }
}


@media only screen and (max-width:550px) {

    .main-content h1 {
        font-size: 41px;
        width: 80vw;
    }

    .main-content p {
        font-size: 30px;
        width: 77vw;
    }
}

@media only screen and (max-width:350px) {
    .main-content h1 {
        font-size: 35px;
        width: 80vw;
    }

    .main-content p {
        font-size: 27px;
        width: 80vw;

    }
}
/* --------------------------------------------Line--------------------------------- */
.line {
    background-color: gray;
    height: 5px;
}
/* ------------------------------aboutus----------------------------- */

.title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
}
/* ------------------------------Language change----------------------------- */
.language-toggle1 {
    display: inline-block;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}
.language-toggle1:hover{
    background:linear-gradient(270deg, #f38a3e, #ff4a6b);
}

.language-toggle2 {
    display: inline-block;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}
.language-toggle2:hover {
    background:linear-gradient(270deg, #f38a3e, #ff4a6b);
}

.paragraph {
    display: none;
}

#english:checked+label[for="english"]~.paragraph.en,
#hindi:checked+label[for="hindi"]~.paragraph.hi {
    display: block;
}

.radio-group {
    display: none;
}

/* ------------------------------aboutus- contents---------------------------- */
.paragraph {
    text-align: center;
    width: 85vw;
    margin-left: 100px;
    color: white;
    font-size: 20px;
}
/* ------------------------------For aboutus-contents- Responsive---------------------------- */
@media only screen and (max-width:900px) {
    .paragraph {
        margin-left: 90px;
    }
}

@media only screen and (max-width:800px) {
    .paragraph {
        margin-left: 50px;
    }
}

@media only screen and (max-width:500px) {
    .paragraph {
        margin-left: 30px;
    }
}

@media only screen and (max-width:400px) {
    .paragraph {
        font-size: 20px;
    }
}
/* ------------------------------Banner---------------------------- */
.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.image-container {
    flex: 1 -1 calc(50% - 20px);
    margin: 10px;
    box-shadow: 1px 3px 20px -11px white;
}

.image-container img {
    width: 360px;
    height: auto;
    display: block;
}

/*------------------------- For Responsive Banner----------------------------*/
@media (max-width: 768px) {
    .image-container {
        flex: -1 1 100%;
    }
}

@media (max-width: 550px) {

    .image-container img {
        width: 250px;
    }

}
/*-------------------------Demo Section----------------------------*/
.demo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;

}

.demo-video {
    width: 340px;
    height: 193px;
}
/*-------------------------for responsive Demo Section----------------------------*/
@media (max-width:1040px) {
    .demo-video {
        max-width: 350px;
    }
}

@media (max-width:900px) {
    .demo-video {
        max-width: 300px;
        height: 175px;
    }
}

@media (max-width: 768px) {
    .demo-video {
        flex: -1 1 100%;
    }
}

@media (max-width: 550px) {

    .demo-video {
        width: 250px;
    }

}

@media (max-width: 380px) {
    .demo-video {
        width: 250px;
        height: 147px;
    }

}
/*-------------------------Youtube link----------------------------*/
.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.youtube p {
    color: white;
    font-size: 25px;
    width: 70vw;
    text-align: center;
}

.youtube a {
    color: white;
    text-decoration: none;
}

.or{
    color: white;
    font-size: 30px;
    margin: 18px 0;
}
/*-------------------------Call Now Button----------------------------*/
#callNowButton {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#callNowButton2 {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#callNowButton:hover {
    background:linear-gradient(270deg, #f38a3e, #ff4a6b);
}
#callNowButton2:hover {
    background:linear-gradient(270deg, #f38a3e, #ff4a6b);
}
/*-------------------------Contact us Section----------------------------*/
.contact-cotainer {
    height: 650px;
    display: flex;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    width: 400px;
}

.contact-inputs:focus {
    border: 2px solod #ff994f;
}

.contact-inputs::placeholder {
    color: #666;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
    box-shadow: 1px 3px 20px -11px white;
}

.contact-left button:hover{
background:linear-gradient(270deg, #f38a3e, #ff4a6b);
}
/*-------------------------For responsive----------------------------*/
@media (max-width:800px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-left textarea {
        width: 80vw;
    }
}


/*-------------------------Map---------------------------*/
.contact-map {
    display: flex;
    justify-content: center;
}

.map iframe {
    width: 400px;
    height: 300px;
    margin-left: 65px;
    margin-top: 120px;
    border-radius: 10px;
    box-shadow: 1px 3px 36px -11px white;
}
/*-------------------------For responsive----------------------------*/
@media (max-width: 1000px) {
    .contact-map {
        display: block;
        justify-content: center;

    }

    .map {
        display: flex;
        justify-content: center;
        margin-top: -150px;
        margin-left: -62px;
    }

    .contact-cotainer {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 490px) {
    .map iframe {
        width: 350px;
        height: 250px;
        margin-top: 60px;
    }
}